@media screen and ( max-width:767px){
    #logo {
        position: relative;
        left: -9px;
        width: 223px;
    }
    #div_2{
        background-color: #fff !important;
    }
    #nav_2{
        display: none;
     }
    #div_3 {
        height: auto;
      background-color: #fff;
      border: none;
    }
    #tog{
        background-color: #f48000;
    border: 1px solid black;
    position: relative;
    top: -63px;
    left: 291px;
}
#nav_ul {
    position: relative;
    left: 0px;
    background-color: #2b2a29;
    text-align: center;
    top: -45px;
    width: auto;
}
#slid_img {
    position: relative;
    top: -55px;
    width: 820px;
    height: auto;
    object-fit: cover;
}
#cursl_but_1 {
    width: 50px;
    height: 50px;
    position: relative;
    top: -113px;
    left: -6px;
}
#cursl_but_2 {
    width: 50px;
    height: 50px;
    position: relative;
    top: -162px;
    left: 311px;
}

#black_box{
    margin-top: 50px;
}
#menu_7{
    border-right: 1px solid rgb(62, 62, 62);
    height: 70px;

    
}
#menu_8{
    background-color:#333;
    position: relative;
    top: 30px;
    border-bottom: 5px solid #f48000;
}
#menu_9{
    background-color:#333;
        position: relative;
        top: 45px;
        border-bottom: 5px solid #f48000;
    }


#container_6wel{
    position: relative;
    top: 250px;
}    

#ab_img {

    width: 336px;
    height: 212px;
    position: relative;
    left: 10px;
    border-radius: 10px;
    object-fit: cover;
}
#welcome_deshm {
    position: relative;
    top: -3px;
    left: -55px;
    text-align: center;
}
#wel_clas{
    width: 306px ;
    position: relative;
    left: 70px;
}
#abt_p {
    width: 260px;
    height: 258px;
    position: relative;
    top: 60px;
    left: 95px;
    color: rgb(74, 74, 73);
    font-family: poppins,sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-align: justify;
}

#our_1con{
    margin-top: 280px;
}
#our_1con p{
    width: 337px;
    position: relative;
    left: 19px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(74, 74, 73);
    
}
#hr_3{
    width: 334px;
    height: 1px;
    position: relative;
    top: 5px;
    left: -328px;
}


#ourc_1 {
    height: 550px;
    width: 340px;
    margin-top: 45px;
    margin-left: 14px;
    color: #000;
    background-color: #fff;
}

#cor1 {
    width: 340px;
    height: 520px;
    position: relative;
    left: -13px;
    background-color: #fff;
}


#corimg_1 {
        width: 340px;
        height: 300px;
        object-fit: cover;
        position: relative;
        left: 0px;
        top: -16px;
    }



    #ourc_2 {
        height: 550px;
        width: 340px;
        margin-top: 20px;
        margin-left: 14px;
        color: #000;
        background-color: #fff;
    }
    #cor2 {
        width: 340px;
        height: 520px;
        position: relative;
        left: -13px;
        background-color: #fff;
    }
    #corimg_2 {
            width: 340px;
            height: 300px;
            object-fit: cover;
            position: relative;
            left: 0px;
            top: -16px;
        }



        #ourc_3 {
            height: 480px;
            width: 340px;
            margin-top: 20px;
            margin-left: 14px;
            color: #000;
            background-color: #fff;
        }
        #cor3 {
            width: 340px;
            height: 465px;
            position: relative;
            left: -13px;
            background-color: #fff;
        }
        #corimg_3 {
                width: 340px;
                height: 300px;
                object-fit: cover;
                position: relative;
                left: 0px;
                top: -16px;
        }

        #hr_4{
            width: 334px;
            height: 1px;
            position: relative;
            top: 5px;
            left: -328px;
    }
    
        #tech_1 {
            position: relative;
            width: 335px;
            left: 6px;
            height: auto;
            
        }
        #timg_1 {
            position: relative;
            width: 335px;
            height: 250px;
             object-fit: fill; 
            border-radius: 4px;
        }

        #tech_2 {
            position: relative;
            width: 335px;
            top: 20px;
            left: 6px;
            height: auto;
            
        }
        #timg_2 {
            position: relative;
            width: 335px;
            height: 250px;
             object-fit: fill; 
            border-radius: 4px;
        }

        #tech_3 {
            position: relative;
            width: 335px;
            top: 40px;
            left: 6px;
            height: auto;
            
        }
        #timg_3 {
            position: relative;
            width: 335px;
            height: 250px;
             object-fit: fill; 
            border-radius: 4px;
        }

        #tech_4 {
            position: relative;
            width: 335px;
            top: 60px;
            left: 6px;
            height: auto;
            
        }
        #timg_4 {
            position: relative;
            width: 335px;
            height: 250px;
             object-fit: fill; 
            border-radius: 4px;
        }

        
        #con1_footer1{
            margin-top: 115px;
            width: 375px;
            height: auto;
            background-color: #333;
        }

        #footer_link_6 {
            background-color: #333;
            position: relative;
            left: -88px;
            
        }
        #last_link{
            list-style: none;
        }
        #last_link a {
            line-height: 24px;
            font-size: 15px;
        }
        #folw_icon{
            position: relative;
            left: -88px;
        }
        #icon_last{
            margin-left: 97px;
        }
        #con_mail {
            position: relative;
            left: 10px;
        }
        #call_foot{
            margin-left: 20px;
        }
        #tele {
            position: relative;
            top: 8px;
            left: -16px;
            font-size: 15px;
        }
        #numbr {
            position: relative;
            top: -15px;
        
            left: 4px;
            font-size: 16px;
            box-sizing: border-box;
            display: block;
        }
        #map {
            
            position: relative;
            left: -22px;
        }
        #map_ic{
            position: relative;
            left: 27px;
        }
        #location {
                width: 284px;
                position: relative;
                left: 51px;
            }
            #foot_right{
                height: 60px;
                background-color: #111111;
                
            
                
            }
        }
    

