@media screen and (min-width:767px) and (max-width:1023px){
    #div1 {
    background-color: #f48000;
    height: 50px;
    width: 839px;
}
#div_2{
    width: 839px;
}
#div_2_col1{
    position: relative;
    left: -60px;
}
#div_2_col2{
    position: relative;
    left: -4px;
}
#div_2_col3{
    position: relative;
    left: -11px;
}
#div_3 {
    height: 45px;
    background-color: #2b2a29;
    border-bottom: 3px solid #fbbe07;
    width: 839px;
}


#slid_img {
    position: relative;
    top: 5px;
    left: -35px;
    width: 400px;
    height: auto;
    object-fit: cover;
}
#slid_img2 {
    height: auto;
    position: relative;
    top: 5px;
    height: 360px;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    width: 348px;
    height: 173px;
}



}
